  :root{
    --skeleton-name-width: 70px;
    --skeleton-btn1-width: 6vw;
  }
  
  .skeleton-card{   
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(235,131,130,1) 0%, rgba(235,131,130,0.75) 38.6%, rgba(211,177,125,0.52) 72.1%, rgba(211,177,125,0.24) 94.7% );
    color: black;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    margin-top: 2rem;
    height: 50vh;
  }
  .skeleton-card .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header .title{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .header .img{
    height: 45px;
    width: 45px;
    background: #d9d9d9;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 36px;
  }
  .header .details{
    margin-left: 20px;
  }
  .details span{
    display: block;
    background: #d9d9d9;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .details .name{
    height: 6vh;
    width: var(--skeleton-name-width);
  }
  .details .about{
    height: 13px;
    width: 150px;
    margin-top: 10px;
  }
  .skeleton-card .description{
    margin: 25px 0;
    display: flex;
    justify-content: center;
  }
  .description .line{
    background: #d9d9d9;
    border-radius: 10px;
    height: 10vh;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
  }
  .description .line-1{
    width: calc(100% - 50%);
  }
  .description .line-3{
    width: calc(100% - 40%);
  }
  .skeleton-card .btns{
    display: flex;
  }
  .skeleton-card .btns .btn{
    height: 45px;
    background: #d9d9d9;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
  }
  .btns .btn-1{
    width: var(--skeleton-btn1-width);
  }
  .btns .btn-2{
    margin-left: 8px;
    width: 100%;
  }
  .header .img::before,
  .details span::before,
  .description .line::before,
  .btns .btn::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0,0,0,0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);
    background-repeat: no-repeat;
    background-size: 450px 400px;
    animation: shimmer 1s linear infinite;
  }
  .header .img::before{
    background-size: 650px 600px;
  }
  .details span::before{
    animation-delay: 0.2s;
  }
  .btns .btn-2::before{
    animation-delay: 0.22s;
  }
  @keyframes shimmer {
    0%{
      background-position: -450px 0;
    }
    100%{
      background-position: 450px 0;
    }
  }

  @media only screen and (max-width: 600px) {
    .header{
      display: flex;
      flex-direction: column;
    }
    .btns .btn-1{
      margin-top: 1rem;
      width:40vw; 

    }
  }